Snowflake/trainn.csv
Snowflake/parkingss
Snowflake/train_splitt
Snowflake/dblp.json
Snowflake/parking.csv
Snowflake.zip
data_0_0_0.json.gz
Airflow/airV
Airflow/logs
ipynb_checkpoints
.vscode
__pycache__
out*
venv
db.sqlite3
credentials.txt
airflow.db